@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* colors */
:root {
    --grayish-blue: hsl(225, 27%, 63%);
    --redish-pink: hsl(333, 86%, 55%);
    --darkblue: hsl(225, 57%, 21%);
    --white: hsl(0, 0%, 100%);
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.125rem;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 0.875rem;
    color: var(--grayish-blue);
}

.button {
    padding: .6563rem 3.3125rem;
    border-radius: 4.25rem;
}

.btn_dark {
    border: 1px solid hsl(224, 36%, 43%);
}

.btn_light {
    color: var(--white);
    background-color: var(--redish-pink);
}

/* helper class */
.container {
    margin: auto;
    max-width: 73.8125rem;
    width: 85%;
}

.f-ai-c {
    display: flex;
    align-items: center;
}

/* for smaller screens */
@media screen and (max-width: 497px) {
    .container {
        width: 100%;
    }
}
